<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
    <link rel="stylesheet" href="style.css">
    <%- include("./partials/header.ejs") %>  
  </head>
  
  <body class="aboutpg">
    <h2>what is all this?</h2>
      <p>  
      </p>
    <h2>how does all this work?</h2>
      <p>
      </p>
    <h2>Safety</h2>
      <p>
      </p>
    <h2>who made all this?</h2>
      <p></p>
    <h2>links</h2>
      <ol class="listthing">
        <li>receptify</li>
        <li>github</li>
        <li>ig</li>
        <li>linkedIn</li>
      </ol>
  </body>
  
</html>
<%- include("./partials/footer.ejs") %>  